*,
* ::before,
* ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana;
}

.site-header {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7rem 1rem 7rem;
}

.site__title {
    color: #335576;
    text-decoration: none;
}

.main-nav {
    display: flex;
    justify-content: space-between;
}

.main-nav__list {
    list-style-type: none;
    display: flex;
}

.main-nav__list-item {
    color: #000000;
    text-decoration: none;
    margin-left: 2rem;
    padding-bottom: 0.5rem;
}

.main-nav__list-item--active {
    border-bottom: 4px solid #DB7A4E;
}

.main-nav__list-item:hover {
    border-bottom: 4px solid #DB7A4E;
}

.main-section__card-component {
    min-width: 15rem;
    max-width: 18rem;
    min-height: 22rem;
    max-height: 25rem;
    margin: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 4px;
}

.footer {
    height: 25vh;
    background-color: #FEFAF5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 15rem;
}

.footer__content {
    display: flex;
    flex-direction: column;
}

.footer__content-heading {
    padding-bottom: 1.5rem;
    color: #335576;
}

.footer__content-body {
    display: flex;
}

.footer__content-tag {
    padding-bottom: 0.5rem;
    color: #DB7A4E;
    font-size: 0.5rem;
}

.footer__content-detail {
    padding-right: 1.5rem;
    color: #335576;
    font-size: 0.75rem;
}

.footer__content-logo {
    min-width: 1rem;
    max-width: 3rem;
    min-height: 1rem;
    max-height: 1.5rem;
    padding-right: 1.5rem;
}

.footer__content--images {
    display: flex;
    align-items: flex-end;
}
