*,
* ::before,
* ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana;
}

.main-nav {
    width: 100%;
    height: 4rem;
    position: fixed;
    z-index: 1;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7rem;
}

.main-nav__logo {
    color: #335576;
    text-decoration: none;
}

.main-nav__list {
    list-style-type: none;
    display: flex;
}

.main-nav__list-item {
    color: #000000;
    text-decoration: none;
    margin-left: 2rem;
    padding-bottom: 0.5rem;
}

.main-nav__list-item:active {
    border-bottom: 4px solid #DB7A4E;
}

.hero {
    padding: 7rem;
    background-color: #FEFAF5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__content-heading {
    font-size: 2.5rem;
    color: #335576;
    padding-bottom: 2rem;
}

.hero__content-text {
    color: #335576;
    padding-bottom: 2rem;
}

.hero__content-button {
    max-width: fit-content;
    text-decoration: none;
    background-color: #DB7A4E;
    color: #FFFFFF;
    padding: 0.5rem 2.2rem;
    border-radius: 50px;
}

.hero__image {
    min-width: 40%;
    min-height: 100%;
    max-width: 40%;
    max-height: 100%;
}

.main-section {
    padding: 3rem 7rem;
    display: flex;
    flex-direction: column;
}

.main-section__heading {
    color: #335576;
    margin-bottom: 1rem;
}

.main-section__gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-section__image {
    min-width: 12rem;
    max-width: 15rem;
    min-height: 18rem;
    max-height: 21rem;
    margin: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 4px;
}

.main-section__link {
    text-decoration: none;
}

.main-section__figure {
    position: relative;
}

.main-section__destination {
    color: #FFFFFF;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.footer {
    height: 25vh;
    background-color: #FEFAF5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 17rem;
}

.footer__content {
    display: flex;
    flex-direction: column;
}

.footer__content-heading {
    padding-bottom: 1.5rem;
    color: #335576;
}

.footer__content-body {
    display: flex;
}

.footer__content-tag {
    padding-bottom: 0.5rem;
    color: #DB7A4E;
    font-size: 0.5rem;
}

.footer__content-detail {
    padding-right: 1.5rem;
    color: #335576;
    font-size: 0.75rem;
}

.footer__content-logo {
    min-width: 1rem;
    max-width: 3rem;
    min-height: 1rem;
    max-height: 1.5rem;
    padding-right: 1.5rem;
}

.footer__content--images {
    display: flex;
    align-items: flex-end;
}
