*,
* ::before,
* ::after {
  box-sizing: border-box;
}

body {
  font-family: Verdana;
  margin: 0;
}

.site-header {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}
.site-header__title {
  color: #335576;
  text-decoration: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-nav__list {
  list-style-type: none;
  display: flex;
}
.main-nav__list-item {
  color: #000000;
  text-decoration: none;
  margin-left: 2rem;
  padding-bottom: 0.5rem;
  transition: border-bottom 0.2s;
}
.main-nav__list-item--active {
  border-bottom: 4px solid #DB7A4E;
}
.main-nav__list-item:hover {
  border-bottom: 4px solid #DB7A4E;
}

.footer {
  background-color: #FEFAF5;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 3rem 13rem 2rem 13rem;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.footer__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.footer__content--social {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.footer__content-heading {
  color: #335576;
  padding-bottom: 1.5rem;
  margin: 0;
}
.footer__content-body {
  display: flex;
}
.footer__content-tag {
  color: #DB7A4E;
  font-size: 0.6rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
  margin: 0;
}
.footer__content-detail {
  color: #335576;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0;
  margin: 0 2rem 0 0;
}
.footer__content-logo {
  min-width: 1rem;
  max-width: 3rem;
  min-height: 1rem;
  max-height: 1.5rem;
  margin-right: 0.5rem;
  padding-right: 1.5rem;
}

.body__hawaii-background {
  background-image: url("../assets/images/hawaii.jpg");
  background-position: center 58%;
  background-size: cover;
}
.body__iceland-background {
  background-image: url("../assets/images/iceland.jpg");
  background-position: center 58%;
  background-size: cover;
}
.body__greece-background {
  background-image: url("../assets/images/greece.jpg");
  background-position: center 58%;
  background-size: cover;
}

.main-section {
  margin-top: 4rem;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
}
.main-section__heading {
  color: #FFFFFF;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 4rem;
}
.main-section__gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main-section__card-component {
  width: 16rem;
  height: 23rem;
  margin: 0 1.25rem;
  border-radius: 5px;
}
.main-section__card-component--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7rem;
  background-color: #FFFFFF;
}
.main-section__itinerary {
  width: 14rem;
}
.main-section__day {
  padding: 0 4rem;
  border-bottom: 3px solid black;
  margin: 0.75rem 0 1.5rem 0;
  text-align: center;
}
.main-section__activities {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.main-section__activity {
  padding: 0.75rem 0;
  margin-bottom: 1rem;
  background-color: #FEFAF5;
}/*# sourceMappingURL=destination.css.map */